
@media screen and (max-width: 1600px){

    // Controls
    .controls{
        right: 1.5%;
    }

    .theme-btn{
        right: 1.5%;
    }


    //General
    section{
        padding: 0;
        padding-right: 4rem;
        margin-top: 3rem;
    }


    // Header
    .header-content{
        
        .right-header{
            padding-right: 8rem;

            .name{
                font-size: 1.8rem;
            }

            p{
                font-size: 1rem;
                margin-bottom: 0;
            }

            .contact-icons{
                padding-top: 1.8rem;
            }
        }
    }


    // About
    .about-container{
        padding: 2rem;
    }
    

    // Projects
    .projects{
        grid-template-columns: 1fr 1fr;
        margin: 1rem;
        padding-bottom: 4rem;
    }


    // Contact
    #contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-content-con{
        width: 60%;
        flex-direction: column;

        .left-contact{
            width: 100%;
        }

        .right-contact{
            margin: 0;
        }

        .contact-icons{
            padding: 3rem 0;
        }
    }

}

@media screen and (max-width: 1200px){

    // About
    .about-container{
       padding-bottom: 5rem;
    
        .right-about{
            margin-top: 2rem;
            grid-template-columns: 1fr;
            grid-template-rows: 51% 22% 25%;

            .about-item:first-of-type{
                grid-row-start: span 1;
            }
            
        }
    }

    // Portfolio
    .projects{
        .portfolio-item{
            width: 250px;
            height: 500px;
            
            a img,img{
                width: 100%;
                height: 150px;
            }
    
            .proj-info{
                padding: 1rem;

                h2{
                    top: 13%;
                    right: 5%;
                }
    
                h3{
                    margin-bottom: .5rem;
                }
                
                p{
                    font-size: .9rem;
                    line-height: 1.3rem;
                }

                .proj-btns{
                    margin-top: 1.3rem;

                    a{
                        padding: 1px 8px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 910px){

    // Control
    .theme-btn{
        top: 3%;
        left: 0;
        transform: 0;
        width: 50px;
        height: 50px;
    }

    // General
    hr{
        transform: translateX(-57%);
    }

    // Header
    .header-content{
        grid-template-columns: 1fr;
        margin-right: 7%;

        .left-header{
            top: 10%;
    
            .image{
                width: 500px;
                height: 500px;
            }
        }

        .right-header{
        
            padding: 4rem 1rem;
            text-align: center;
            
            .btns{
              justify-content: center;
            }
    
            .contact-icons{
                justify-content: center;
            }
        }
    }

    // About
    .about-container{
        grid-template-columns: 1fr;
        padding: 2rem;
        padding-top: 0;

        .left-about{
            order: 1;
            padding-right: 0;
            margin-top: 6rem;

            h4{
                font-size: 1rem;
            }

            p{
                padding-top: .8rem;
            }

            .main-btn-container{
                margin: 2rem 0;
            }
        }
    }

    // Projects
    .projects{
        grid-template-columns: 1fr;
    }

    // Contacts
    .contact-content-con{
        .right-contact{
            .input-control{
                flex-direction: column;
                gap: 1rem;

                #fname{
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 600px){

    //Control
    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: transparent;

        .control{
            margin: 1rem .3rem;
        }
    }

    .contact-icons{
        flex-wrap: wrap;
        gap: .5rem;

        a:last-of-type{
            font-size: .6rem;
        }

        a{
            margin: 0;
            width: 60px;
            height: 60px;
            font-size: .8rem;

            i{
                font-size: 1.3rem;
                color: var(--color-white);
                margin: 0;
            }
        }
    }


    //General
    section{
        padding: 0;
        margin-top: 3rem;
    }
    
    .main-title{
        
        h2{
            font-size: 2.5rem;
        }
    }

    hr{
        width: 80%;
        transform: translateX(-50%);
    }

 
    // Header
    .header-content{
        margin: 0;
        .left-header{
            .image{
                width: 200px;
                height: 200px;
                img{
                    animation: none;
                }
            }
        }

        .right-header{
            padding: 2rem 1rem;
            
            .name{
                font-size: 1.5rem;
            }

            p{
                font-size: 1rem;
            }
    
            .btns{
                flex-direction: column;
                gap: 1rem;
                margin-top: 1rem;

                .main-btn-container{
                    align-self: center;
                }
            }
        }
    }


    // About
    .about-container{
    
        .right-about{
        
            .about-item{

                .about-text{
                    padding: 1rem;

                    .large-text{
                        font-size: 1.5rem;
                    }
                    
                    .small-text{
                        padding-left: 2.5rem;
                        margin-top: 1rem;
                        font-size: 1rem;
                        letter-spacing: 2px;
                        color: var(--color-grey-1);
                        
                        &::before{
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 15px;
                            width: 1.5rem;
                            height: 2px;
                            background-color: var(--color-grey-5);
                        }
                    }
                }
            }
        }
    }
    

    // Projects
    .port-text{
        padding: 2rem;
    }


    // Contact
    .contact-content-con{
        width: 90%;

        .left-contact{

            h4{
                font-size: 1.5rem;
            }

            p{
                margin-bottom: 2rem;
            }

            .contact-info{
                .contact-item{
                    p{
                        font-size: 1rem;
                    }
                }
            }

        }
    }
}