.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.about-container .left-about {
  padding-right: 5rem;
}
.about-container .left-about p {
  line-height: 2rem;
  padding-top: 2rem;
  padding-left: 0;
  color: var(--color-grey-1);
}
.about-container .left-about p b {
  color: var(--color-secondary);
}
.about-container .left-about ul {
  margin-left: 2rem;
  margin-top: 1rem;
}
.about-container .left-about ul li {
  position: relative;
  margin: 0.5rem 0;
}
.about-container .left-about ul li::before {
  content: "";
  position: absolute;
  left: -2rem;
  top: 10px;
  width: 1rem;
  height: 2px;
  background-color: var(--color-grey-3);
}
.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}
.about-container .left-about .main-btn-container {
  margin-top: 2rem;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: 310px 1fr;
  grid-template-rows: 38% 45%;
  gap: 2rem;
}
.about-container .right-about .about-item:first-of-type {
  grid-row-start: span 2;
}
.about-container .right-about .about-item {
  border-radius: 5px;
  border: 1px solid var(--color-grey-5);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  transition: var(--trans-1);
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}
.about-container .right-about .about-item .about-text {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.about-container .right-about .about-item .about-text .large-text {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.about-container .right-about .about-item .about-text .small-text {
  position: relative;
  padding-left: 3rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: var(--color-grey-1);
}
.about-container .right-about .about-item .about-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-5);
}

.about-stats {
  padding-bottom: 4rem;
}
.about-stats .skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about-stats .skills-list .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 10%;
  text-align: center;
}
.about-stats .skills-list .skill i {
  font-size: 6rem;
  color: var(--color-grey-3);
}
.about-stats .skills-list .skill img {
  width: 80px;
  height: 96px;
  -o-object-fit: contain;
     object-fit: contain;
}

.stat-title {
  position: relative;
  text-align: center;
  padding: 3.5rem 0;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-5);
}

@media screen and (max-width: 1600px) {
  .controls {
    right: 1.5%;
  }
  .theme-btn {
    right: 1.5%;
  }
  section {
    padding: 0;
    padding-right: 4rem;
    margin-top: 3rem;
  }
  .header-content .right-header {
    padding-right: 5rem;
  }
  .about-container {
    padding: 2rem;
  }
  .projects {
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    padding-bottom: 4rem;
  }
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-content-con {
    width: 60%;
    flex-direction: column;
  }
  .contact-content-con .left-contact {
    width: 100%;
  }
  .contact-content-con .right-contact {
    margin: 0;
  }
  .contact-content-con .contact-icons {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 1200px) {
  .about-container {
    padding-bottom: 5rem;
  }
  .about-container .right-about {
    margin-top: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 51% 22% 25%;
  }
  .about-container .right-about .about-item:first-of-type {
    grid-row-start: span 1;
  }
}
@media screen and (max-width: 910px) {
  .theme-btn {
    top: 3%;
    left: 0;
    transform: 0;
    width: 50px;
    height: 50px;
  }
  hr {
    transform: translateX(-57%);
  }
  .header-content {
    grid-template-columns: 1fr;
    margin-right: 7%;
  }
  .header-content .left-header {
    top: 10%;
  }
  .header-content .left-header .image {
    width: 500px;
    height: 500px;
  }
  .header-content .right-header {
    padding: 4rem 1rem;
    text-align: center;
  }
  .header-content .right-header .name {
    font-size: 2.5rem;
  }
  .header-content .right-header p {
    font-size: 1.2rem;
  }
  .header-content .right-header .btns {
    justify-content: center;
  }
  .header-content .right-header .contact-icons {
    justify-content: center;
  }
  .about-container {
    grid-template-columns: 1fr;
    padding: 2rem;
    padding-top: 0;
  }
  .about-container .left-about {
    order: 1;
    padding-right: 0;
    margin-top: 6rem;
  }
  .about-container .left-about h4 {
    font-size: 1rem;
  }
  .about-container .left-about p {
    padding-top: 0.8rem;
  }
  .about-container .left-about .main-btn-container {
    margin: 2rem 0;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .contact-content-con .right-contact .input-control {
    flex-direction: column;
    gap: 1rem;
  }
  .contact-content-con .right-contact .input-control #fname {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: transparent;
  }
  .controls .control {
    margin: 1rem 0.3rem;
  }
  .contact-icons {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .contact-icons a:last-of-type {
    font-size: 0.6rem;
  }
  .contact-icons a {
    margin: 0;
    width: 60px;
    height: 60px;
    font-size: 0.8rem;
  }
  .contact-icons a i {
    font-size: 1.3rem;
    color: var(--color-white);
    margin: 0;
  }
  section {
    padding: 0;
    margin-top: 3rem;
  }
  .main-title h2 {
    font-size: 2.5rem;
  }
  hr {
    width: 80%;
    transform: translateX(-50%);
  }
  .header-content {
    margin: 0;
  }
  .header-content .left-header .image {
    width: 200px;
    height: 200px;
  }
  .header-content .right-header {
    padding: 2rem 1rem;
  }
  .header-content .right-header .name {
    font-size: 1.5rem;
  }
  .header-content .right-header p {
    font-size: 1rem;
  }
  .header-content .right-header .btns {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
  .header-content .right-header .btns .main-btn-container {
    align-self: center;
  }
  .about-container .right-about .about-item .about-text {
    padding: 1rem;
  }
  .about-container .right-about .about-item .about-text .large-text {
    font-size: 1.5rem;
  }
  .about-container .right-about .about-item .about-text .small-text {
    padding-left: 2.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--color-grey-1);
  }
  .about-container .right-about .about-item .about-text .small-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 1.5rem;
    height: 2px;
    background-color: var(--color-grey-5);
  }
  .port-text {
    padding: 2rem;
  }
  .projects .portfolio-item {
    width: 250px;
    height: 500px;
  }
  .projects .portfolio-item img {
    width: 100%;
    height: 150px;
  }
  .projects .portfolio-item .proj-info {
    padding: 1rem;
  }
  .projects .portfolio-item .proj-info h3 {
    margin-bottom: 0.5rem;
  }
  .projects .portfolio-item .proj-info p {
    font-size: 0.9rem;
  }
  .projects .portfolio-item .proj-info .proj-btns {
    margin-top: 1.3rem;
  }
  .projects .portfolio-item .proj-info .proj-btns a {
    padding: 1px 8px;
    font-size: 1rem;
  }
  .contact-content-con {
    width: 90%;
  }
  .contact-content-con .left-contact h4 {
    font-size: 1.5rem;
  }
  .contact-content-con .left-contact p {
    margin-bottom: 2rem;
  }
  .contact-content-con .left-contact .contact-info .contact-item p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=aboutSection.css.map */