/* contact section styles */
.contact-content-con {
  display: flex;
  justify-content: center;
  padding-top: 3.5rem;
}

/* left contact section styles */
.contact-content-con .left-contact {
  position: relative;
  text-align: center;
  width: 35%;
}

/* 'contact me here' title styles */
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
/* contact invitation */
.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}