// controls
.controls{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    z-index: 10;

    .control{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        padding: 1rem;
        margin: .7rem 0;
        border-radius: 50%;
        cursor: pointer;
    
        background-color: var(--color-grey-4);
        box-shadow: var(--box-shadow-1);

        i{
            font-size: 1.6rem;
            color: var(--color-grey-2);
            pointer-events: none;
        }
    }

    .control:hover{
        background-color: var(--color-secondary);

        i{
            color: var(--color-black);
        }
    }
}

.theme-btn{
    top: 5%;
    right: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-grey-4);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-1);
    transition: all .1s ease-in-out;

    &:active{
        transform: translateY(-5px);
    }

    i{
        font-size: 1.4rem;
        color: var(--color-grey-2);
        pointer-events: none;
    }
}

@import './media';