
//Contact section styles
.contact-content-con{
    display: flex;
    padding-top: 3.5rem;

    .left-contact{
        position: relative;
        flex: 1;

        h4{
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }

        p{
            margin: 1rem 0;
            line-height: 2rem;
        }

        .contact-info{

            .contact-item{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .icon{
                    display: grid;
                    grid-template-columns: 30px 1fr;
                    align-items: center;
                }

                p{
                    margin: .3rem 0;
                    padding: 0;
                }
            }
        }
    }

    .right-contact{
        flex: 2;
        flex-shrink: 1;
        margin-left: 3rem;

        .catcher{
            position: absolute;
            opacity: 0;
        }

        .input-control{
            display: flex;
            margin: 1.5rem 0;
            width: 100%;
            
            input, textarea{
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                color: var(--color-grey-3);
                background-color: var(--color-grey-5);
                resize: none;
            }
            
            #email, #subject, #message, #fname, #lname{
                flex-grow: 1;
                flex-shrink: 1;
            }

            #fname{
                margin-right: 1rem;
            }

            input:focus, textarea:focus{
                background-color: var(--color-white);
            }

        }

        button{
            background-color: inherit;
            border: inherit;
            color: inherit;
            font-size: inherit;
            cursor: pointer;
        }
    }
}

@import './media';