/* navbar styles */
.controls {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  z-index: 10;
}

/* navbar button styles */
.controls .control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 1rem;
  margin: 0.6rem 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-grey-4);
  box-shadow: var(--box-shadow-1);
}

/* nav bar button icon styles */
.controls .control i {
  font-size: 1.6rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

/* Set tooltips */
.tooltip {
  display: none;
  position: absolute;
  text-align: center;
  right: 110%;
  padding: 0 8px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* nav bar button hover styles */
.controls .control:hover {
  background-color: var(--color-secondary);
}
.controls .control:hover i {
  color: var(--color-black);
}
.controls .control:hover .tooltip {
  display: block;
}


/* main button styles */
.main-btn-container {
  display: flex;
  align-self: flex-start;
}
.main-btn-container .main-btn {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: inherit;
  font-weight: 600;
  border-radius: 30px;
  border: 3px solid var(--color-secondary);
  overflow: hidden;
  transition: var(--trans-1);
}
.main-btn-container .main-btn .btn-text {
  padding: 0 1rem;
  padding-right: 0.2rem;
}
.main-btn-container .main-btn .btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--color-secondary);
}
.main-btn-container .main-btn i {
  color: var(--color-black);
}
.main-btn-container .main-btn:hover {
  color: var(--color-black);
  background-color: var(--color-secondary);
}


/* Theme button styles */
.theme-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5%;
  right: 3%;
  transform: translateX(15%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-grey-4);
  box-shadow: var(--box-shadow-1);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-grey-2);
  pointer-events: none;
}
.theme-btn:hover .tooltip {
  display: block;
  width: 11ch;
}
.theme-btn:active {
  transform: translateY(-5px);
}


/* Contact icons styles */
.contact-icons {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 12rem;
}
.contact-icons a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin: 0 0.4rem;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  cursor: pointer;
  font-size: 0.9rem;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  transition: var(--trans-1);
}
.contact-icons a i {
  font-size: 2.6rem;
  color: var(--color-white);
  margin: 0 1rem;
}
.contact-icons a:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
.contact-icons a:hover i {
  color: var(--color-primary);
}

