.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-con .left-contact {
  position: relative;
  flex: 1;
}
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
}
.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0;
  padding: 0;
}
.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact .catcher {
  position: absolute;
  opacity: 0;
}
.contact-content-con .right-contact .input-control {
  display: flex;
  margin: 1.5rem 0;
  width: 100%;
}
.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  color: var(--color-grey-3);
  background-color: var(--color-grey-5);
  resize: none;
}
.contact-content-con .right-contact .input-control #email, .contact-content-con .right-contact .input-control #subject, .contact-content-con .right-contact .input-control #message, .contact-content-con .right-contact .input-control #fname, .contact-content-con .right-contact .input-control #lname {
  flex-grow: 1;
  flex-shrink: 1;
}
.contact-content-con .right-contact .input-control #fname {
  margin-right: 1rem;
}
.contact-content-con .right-contact .input-control input:focus, .contact-content-con .right-contact .input-control textarea:focus {
  background-color: var(--color-white);
}
.contact-content-con .right-contact button {
  background-color: inherit;
  border: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

@media screen and (max-width: 1700px) {
  section {
    margin-top: 6rem;
    padding: 0 6rem;
  }
  #portfolio hr {
    bottom: -2rem;
  }
}
@media screen and (max-width: 1450px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects .portfolio-item {
    width: 380px;
    height: 640px;
  }
  .projects .portfolio-item .proj-info p {
    font-size: 1rem;
  }
  .projects .portfolio-item .proj-info .proj-btns {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 1290px) {
  .right-header {
    padding-right: 8rem !important;
  }
  .about-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .about-container .right-about {
    grid-template-columns: 1fr;
    grid-template-rows: 0;
    padding-top: 3rem;
  }
  .about-container .right-about .about-item .about-text .small-text {
    margin-top: 1.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
}
@media screen and (max-width: 1000px) {
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: transparent;
  }
  .controls .control {
    margin: 1rem 0.3rem;
  }
  header {
    padding: 5rem;
  }
  header .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  header .header-content .right-header {
    width: 90%;
    margin: 0 auto;
  }
  header .header-content .right-header .name {
    font-size: 2.5rem !important;
  }
  header .header-content .right-header .contact-icons {
    justify-content: flex-start;
  }
  header .header-content .right-header {
    padding: 0 !important;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2rem;
  }
}/*# sourceMappingURL=contactSection.css.map */