//Portfolio section styles
.port-text{
    padding: 2rem 0;
    text-align: center;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;

    .portfolio-item{
        position: relative;

        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 15px;
        }

        .hover-item{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transform: scale(0);
            // transition: var(--trans-1);

            h3{
                font-size: 1.5rem;
                color: var(--color-white);
                margin-bottom: 1.5rem;
            }

            .icons{
                display: flex;
                justify-content: center;
                align-items: center;

                .icon{
                    background-color: var(--color-primary);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    // transition: var(--trans-1);
                }

                i{
                    font-size: 2.6rem;
                    color: var(--color-white);
                    margin: 0 1rem;
                }

                &:hover{
                    .icon{
                        background-color: var(--color-white);
                    }
                    i{
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}

.portfolio-item:hover .hover-item{
    opacity: 1;
    transform: scale(1);
}

@import './media';